.Board {
  margin-top: 80px;
}

.Board h1 {
  font-size: 4em;
  text-shadow: 0 0 5px #fff, 0 0 3px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.Board table {
  border: 15px solid #abff96;
  border-radius: 10px;
  background-color: black;
  box-shadow: 0px 0px 400px 50px rgba(68, 255, 43, 0.5),
    0px 0px 50px 10px rgba(223, 255, 219, 0.781);
  margin-left: auto;
  margin-right: auto;
}

.Board button {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100px;
  height: 40px;
  font-family: "Orbitron";
  font-size: 0.9rem;
  outline: none;
  outline-offset: none;
  border-radius: 15px;
  background-color: rgb(0, 43, 11);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 50px 10px rgba(223, 255, 219, 0.185);
}

.Board button:active {
  outline: none;
}

.Board button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 50px 20px rgba(223, 255, 219, 0.541);
}

@media (max-width: 767.98px) {
  body {
    font-size: 10px;
  }

  .Board button {
    margin-top: 20px;
  }
}
