.Tile {
  background-color: rgb(75, 75, 75);
  width: 100px;
  height: 100px;
}

.Tile:hover {
  background: radial-gradient(rgb(145, 145, 145), rgb(107, 107, 107));
}

.on {
  background: radial-gradient(rgb(255, 209, 255), rgb(255, 17, 235));
}

.on:hover {
  background: radial-gradient(rgb(255, 226, 255), rgb(255, 110, 243));
}

.win {
  background: radial-gradient(rgb(154, 255, 145), rgb(23, 253, 3));
}
.win:hover {
  background: radial-gradient(rgb(180, 255, 173), rgb(63, 255, 46));
}

@media (max-width: 767.98px) {
  .Tile {
    width: 60px;
    height: 60px;
  }
  .small {
    width: 30px;
    height: 30px;
  }
}
